
body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: #fdeef7; 
    margin: 0;
    padding: 0;
    color: #333;
}


header {
    background: linear-gradient(135deg, #ff66b3, #ff99cc);
    color: white;
    text-align: center;
    padding: 35px 20px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    letter-spacing: 1px;
}

header p {
    margin-top: 8px;
    font-size: 1.1em;
}


.container {
    padding: 25px;
}


ul {
    background: rgb(255, 255, 255);
    padding: 25px;
    width: 70%;
    margin: auto;
    border-radius: 15px;
    list-style: none;
    box-shadow: 0 5px 14px rgba(255, 105, 180, 0.25);
}

li {
    margin: 18px 0;
    font-size: 1.2em;
}

a {
    display: block;
    text-decoration: none;
    color: #d63384; 
    font-weight: bold;
    transition: 0.3s;
}

a:hover {
    display: block;
    color: #ff4da6;
    padding-left: 5px;
}


h1 {
    text-align: center;
    color: #c2185b;
    margin-top: 25px;
}

h2 {
    text-align: center;
    color: #d81b60;
    margin-top: 20px;
}

p, li, ul {
    font-size: 1.1em;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(255, 105, 180, 0.3);
}


.volver, a[href="index.html"] {
    display: inline-block;
    margin: 20px;
    background: #ff80bf;
    color: white !important;
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 3px 6px rgba(255, 105, 180, 0.3);
    transition: 0.3s;
}

.volver:hover, a[href="index.html"]:hover {
    background: #ff4da6;
    transform: translateY(-2px);
}
.mini-desc {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 14px;
    color: #444;

    background: rgba(255, 180, 220, 0.25);
    padding: 10px;
    margin-top: 8px;

    border-radius: 10px;
    border-left: 4px solid #ff5daf;

    opacity: 0;
    max-height: 0;
    overflow: hidden;

    transition: opacity 0.4s ease, max-height 0.4s ease;
}


.mini-desc.show {
    opacity: 1;
    max-height: 200px;
}


.mini-desc img {
    width: 45px;
    height: 45px;
    border-radius: 8px;
    object-fit: cover;
}
p {
    font-family: "Poppins", sans-serif;  
    font-size: 18px;
    line-height: 1.7;                     
    color: #333;                          
    background: #f5f7fa;                  
    padding: 15px 20px;                   
    border-left: 4px solid #e24ac9;       
    border-radius: 8px;                    
    max-width: 700px;
    margin: 20px auto;                    
    box-shadow: 0 2px 6px rgba(0,0,0,0.1); 
}
#snoopy {
    width: 200px;        
    height: 200px;       
    border-radius: 50%;  
    object-fit: cover;   
}

#regresar {
    
    text-align: center;
    font-size: 24px;
    display: block;
    text-decoration: none;
    color: #d63384; 
    font-weight: bold;
    transition: 0.3s;
}
